# generated-from:f73353c8641cb28a45495571038c915eeda50df44848892cde56215068a3239f DO NOT REMOVE, DO UPDATE
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
bin/
*.db

.idea/
.vscode/

/lint-project.sh
misspell*
staticcheck*
coverage.txt

pkger*
pkged.go
cover.out

/vendor/