# generated-from:2b032db735b20164e9573e897cc0e43f41777de7e64c1a204fe2943d0d98999e DO NOT REMOVE, DO UPDATE

name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Go Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install make (Windows)
      if: runner.os == 'Windows'
      run: choco install -y make mingw

    - name: Install
      run: make install

    - name: Setup
      if: runner.os == 'Linux'
      run: make setup

    - name: Check
      if: runner.os == 'Linux'
      run: make check

    - uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: "go-tooling-reports.zip"
        path: |
          ./**/coverage.txt
          ./**/mem.out
          ./**/cpu.out

    - name: Upload Code Coverage
      if: runner.os == 'Linux'
      run: bash <(curl -s https://codecov.io/bash)

    - name: Docker Build
      if: runner.os == 'Linux'
      run: make dev-docker

    - name: Docker Push
      if: runner.os == 'Linux'
      run: |+
          echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
          make dev-push
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
